<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/dell/Documents/QADevPrograms/EJetTestScript">
        <classes>
            <class name="com.bridgelabz.ejet.condingclubregister.Education_Qualification_Test">
                <methods>
                    <include name="select_Engineering_Cs_Or_It"/>
                    <include name="select_Engineering_Non_Cs_Or_It"/>
                    <include name="select_Masters_Cs_Or_It"/>
                    <include name="select_Masters_Non_Cs_Or_It"/>
                    <include name="select_Other"/>
                    <include name="not_select_EducationQualification"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.condingclubregister.Email_Field_Test">
                <methods>
                    <include name="enter_Valid_EmailId"/>
                    <include name="enter_EmptyString_EmailId"/>
                    <include name="enter_Without_UserName"/>
                    <include name="enter_EmailId_With_Space"/>
                    <include name="enter_Valid_Email_After_Space"/>
                    <include name="enter_Space_After_EmailId"/>
                    <include name="enter_Email_Without_Dot"/>
                    <include name="enter_Email_Without_At"/>
                    <include name="enter_Email_Without_Dotcom"/>
                    <include name="enter_EmailId_Without_AtGmailDotCom"/>
                    <include name="removing_Valid_Email_From_EmailField"/>
                    <include name="removing_Invalid_Email_From_EmailField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.condingclubregister.Full_Name_Field_Test">
                <methods>
                    <include name="enter_Valid_FullName"/>
                    <include name="enter_EmptyString"/>
                    <include name="enter_TwoChar"/>
                    <include name="enter_ThreeChar"/>
                    <include name="user_Enter_FullName_Without_Space"/>
                    <include name="user_Enter_Space_After_LastName"/>
                    <include name="Enter_Double_Space_Between_First_And_LastName"/>
                    <include name="user_Enter_ThreeGroup_Of_Char"/>
                    <include name="user_Enter_Numeric_Char"/>
                    <include name="user_enter_Spacial_Char_"/>
                    <include name="user_Remove_ValidName_From_NameField"/>
                    <include name="user_Remove_InvalidName_From_NameField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.condingclubregister.PassOut_Field_Test">
                <methods>
                    <include name="select_TwoThousandTwentyFour"/>
                    <include name="select_TwoThousandTwentyThree"/>
                    <include name="select_TwoThousandTwentyTwo"/>
                    <include name="select_TwoThousandTwentyOne"/>
                    <include name="select_TwoThousandTwenty"/>
                    <include name="select_Before_TwoThousandTwenty"/>
                    <include name="select_After_TwoThousandTwentyFour"/>
                    <include name="not_Select_passOut_Year"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.condingclubregister.Ph_Num_Field_Test">
                <methods>
                    <include name="new_User_Enter_Valid_PhNumber"/>
                    <include name="new_User_Enter_EmptyString"/>
                    <include name="new_User_Enter_SpecialChar"/>
                    <include name="new_User_Enter_Character"/>
                    <include name="new_User_Enter_Space_Between_PhNumber"/>
                    <include name="new_User_Enter_plus_NinetyOne"/>
                    <include name="new_User_Enter_plus_NinetyOne_And_Hyphen"/>
                    <include name="new_User_Enter_NineDigit_PhNumber"/>
                    <include name="new_User_After_Enter_InValidData_RemoveData_Form_PhField"/>
                    <include name="new_User_After_Enter_ValidData_RemoveData_Form_PhField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.condingclubregister.Register_For_Free_Test">
                <methods>
                    <include name="click_Enable_EnterButton"/>
                    <include name="click_Disable_EnterButton"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.indextestcases.Index_Main_Page_Test">
                <methods>
                    <include name="click_To_Register_And_Check_Navigated_To_Lateral_Page"/>
                    <include name="click_On_Apply_Now_And_Check_Navigated_To_RegisterWebsiteUser_Page"/>
                    <include name="click_Attend_Orientation_Button_And_Check_Navigated_To_Webinar_page"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.default_registration.test.Aggregate_Percentage_Test">
                <methods>
                    <include name="select_Below_Sixty"/>
                    <include name="select_Sixty_To_Seventy"/>
                    <include name="select_Above_Seventy"/>
                    <include name="not_select_passOut_Year"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.default_registration.test.Education_Qualification_Test">
                <methods>
                    <include name="select_Engineering_Cs_Or_It"/>
                    <include name="select_Engineering_Non_Cs_Or_It"/>
                    <include name="select_Masters_Cs_Or_It"/>
                    <include name="select_Masters_Non_Cs_Or_It"/>
                    <include name="select_Other"/>
                    <include name="not_select_EducationQualification"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.default_registration.test.Email_Field_Test">
                <methods>
                    <include name="enter_Valid_EmailId"/>
                    <include name="enter_EmptyString_EmailId"/>
                    <include name="enter_Without_UserName"/>
                    <include name="enter_EmailId_With_Space"/>
                    <include name="enter_Valid_Email_After_Space"/>
                    <include name="enter_Space_After_EmailId"/>
                    <include name="enter_Email_Without_Dot"/>
                    <include name="enter_Email_Without_At"/>
                    <include name="enter_Email_Without_Dotcom"/>
                    <include name="enter_EmailId_Without_AtGmailDotCom"/>
                    <include name="removing_Valid_Email_From_EmailField"/>
                    <include name="removing_Invalid_Email_From_EmailField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.default_registration.test.Enter_Room_Test">
                <methods>
                    <include name="click_Enable_EnterButton"/>
                    <include name="click_Disable_EnterButton"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.default_registration.test.Full_Name_Field_Test">
                <methods>
                    <include name="enter_Valid_FullName"/>
                    <include name="enter_EmptyString"/>
                    <include name="enter_TwoChar"/>
                    <include name="enter_ThreeChar"/>
                    <include name="user_Enter_FullName_Without_Space"/>
                    <include name="user_Enter_Space_After_LastName"/>
                    <include name="Enter_Double_Space_Between_First_And_LastName"/>
                    <include name="user_Enter_ThreeGroup_Of_Char"/>
                    <include name="user_Enter_Numeric_Char"/>
                    <include name="user_enter_Spacial_Char_"/>
                    <include name="user_Remove_ValidName_From_NameField"/>
                    <include name="user_Remove_InvalidName_From_NameField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.default_registration.test.PassOut_Field_Test">
                <methods>
                    <include name="select_TwoThousandTwentyFour"/>
                    <include name="select_TwoThousandTwentyThree"/>
                    <include name="select_TwoThousandTwentyTwo"/>
                    <include name="select_TwoThousandTwentyOne"/>
                    <include name="select_TwoThousandTwenty"/>
                    <include name="select_Before_TwoThousandTwenty"/>
                    <include name="select_After_TwoThousandTwentyFour"/>
                    <include name="not_Select_passOut_Year"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.default_registration.test.Ph_Num_Field_Test">
                <methods>
                    <include name="new_User_Enter_Valid_PhNumber"/>
                    <include name="new_User_Enter_EmptyString"/>
                    <include name="new_User_Enter_SpecialChar"/>
                    <include name="new_User_Enter_Character"/>
                    <include name="new_User_Enter_Space_Between_PhNumber"/>
                    <include name="new_User_Enter_plus_NinetyOne"/>
                    <include name="new_User_Enter_plus_NinetyOne_And_Hyphen"/>
                    <include name="new_User_Enter_NineDigit_PhNumber"/>
                    <include name="new_User_After_Enter_InValidData_RemoveData_Form_PhField"/>
                    <include name="new_User_After_Enter_ValidData_RemoveData_Form_PhField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.popup_registration_Test.Popup_Aggregate_Percentage_Test">
                <methods>
                    <include name="select_Below_Sixty"/>
                    <include name="select_Sixty_To_Seventy"/>
                    <include name="select_Above_Seventy"/>
                    <include name="not_select_passOut_Year"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.popup_registration_Test.Popup_Education_Qualification_Test">
                <methods>
                    <include name="select_Engineering_Cs_Or_It"/>
                    <include name="select_Engineering_Non_Cs_Or_It"/>
                    <include name="select_Masters_Cs_Or_It"/>
                    <include name="select_Masters_Non_Cs_Or_It"/>
                    <include name="select_Other"/>
                    <include name="not_select_EducationQualification"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.popup_registration_Test.Popup_Email_Field_Test">
                <methods>
                    <include name="enter_Valid_EmailId"/>
                    <include name="enter_EmptyString_EmailId"/>
                    <include name="enter_Without_UserName"/>
                    <include name="enter_EmailId_With_Space"/>
                    <include name="enter_Valid_Email_After_Space"/>
                    <include name="enter_Space_After_EmailId"/>
                    <include name="enter_Email_Without_Dot"/>
                    <include name="enter_Email_Without_At"/>
                    <include name="enter_Email_Without_Dotcom"/>
                    <include name="enter_EmailId_Without_AtGmailDotCom"/>
                    <include name="removing_Valid_Email_From_EmailField"/>
                    <include name="removing_Invalid_Email_From_EmailField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.popup_registration_Test.Popup_Full_Name_Field_Test">
                <methods>
                    <include name="enter_Valid_FullName"/>
                    <include name="enter_EmptyString"/>
                    <include name="enter_TwoChar"/>
                    <include name="enter_ThreeChar"/>
                    <include name="user_Enter_FullName_Without_Space"/>
                    <include name="user_Enter_Space_After_LastName"/>
                    <include name="Enter_Double_Space_Between_First_And_LastName"/>
                    <include name="user_Enter_ThreeGroup_Of_Char"/>
                    <include name="user_Enter_Numeric_Char"/>
                    <include name="user_enter_Spacial_Char_"/>
                    <include name="user_Remove_ValidName_From_NameField"/>
                    <include name="user_Remove_InvalidName_From_NameField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.popup_registration_Test.Popup_PassOut_Field_Test">
                <methods>
                    <include name="select_TwoThousandTwentyFour"/>
                    <include name="select_TwoThousandTwentyThree"/>
                    <include name="select_TwoThousandTwentyTwo"/>
                    <include name="select_TwoThousandTwentyOne"/>
                    <include name="select_TwoThousandTwenty"/>
                    <include name="select_Before_TwoThousandTwenty"/>
                    <include name="select_After_TwoThousandTwentyFour"/>
                    <include name="not_Select_passOut_Year"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.popup_registration_Test.Popup_Ph_Num_Field_Test">
                <methods>
                    <include name="new_User_Enter_Valid_PhNumber"/>
                    <include name="new_User_Enter_EmptyString"/>
                    <include name="new_User_Enter_SpecialChar"/>
                    <include name="new_User_Enter_Character"/>
                    <include name="new_User_Enter_Space_Between_PhNumber"/>
                    <include name="new_User_Enter_plus_NinetyOne"/>
                    <include name="new_User_Enter_plus_NinetyOne_And_Hyphen"/>
                    <include name="new_User_Enter_NineDigit_PhNumber"/>
                    <include name="new_User_After_Enter_InValidData_RemoveData_Form_PhField"/>
                    <include name="new_User_After_Enter_ValidData_RemoveData_Form_PhField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerinstatestcases.popup_registration_Test.Popup_Submit_Btn">
                <methods>
                    <include name="click_Enable_EnterButton"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsitelateraltestcases.Education_Qualification_Test">
                <methods>
                    <include name="select_Engineering_Cs_Or_It"/>
                    <include name="select_Engineering_Non_Cs_Or_It"/>
                    <include name="select_Masters_Cs_Or_It"/>
                    <include name="select_Masters_Non_Cs_Or_It"/>
                    <include name="select_Other"/>
                    <include name="not_select_EducationQualification"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsitelateraltestcases.Email_Field_Test">
                <methods>
                    <include name="enter_Valid_EmailId"/>
                    <include name="enter_EmptyString_EmailId"/>
                    <include name="enter_Without_UserName"/>
                    <include name="enter_EmailId_With_Space"/>
                    <include name="enter_Valid_Email_After_Space"/>
                    <include name="enter_Space_After_EmailId"/>
                    <include name="enter_Email_Without_Dot"/>
                    <include name="enter_Email_Without_At"/>
                    <include name="enter_Email_Without_Dotcom"/>
                    <include name="enter_EmailId_Without_AtGmailDotCom"/>
                    <include name="removing_Valid_Email_From_EmailField"/>
                    <include name="removing_Invalid_Email_From_EmailField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsitelateraltestcases.Experience_Field_Test">
                <methods>
                    <include name="select_None"/>
                    <include name="select_Zero_To_Six_Month"/>
                    <include name="select_Seven_To_Twelve_Month"/>
                    <include name="select_One_To_Two_Year"/>
                    <include name="select_Two_To_Three_Year"/>
                    <include name="select_Above_Three_Year"/>
                    <include name="not_select_passOut_Year"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsitelateraltestcases.Full_Name_Field_Test">
                <methods>
                    <include name="enter_Valid_FullName"/>
                    <include name="enter_EmptyString"/>
                    <include name="enter_TwoChar"/>
                    <include name="enter_ThreeChar"/>
                    <include name="user_Enter_FullName_Without_Space"/>
                    <include name="user_Enter_Space_After_LastName"/>
                    <include name="Enter_Double_Space_Between_First_And_LastName"/>
                    <include name="user_Enter_ThreeGroup_Of_Char"/>
                    <include name="user_Enter_Numeric_Char"/>
                    <include name="user_enter_Spacial_Char_"/>
                    <include name="user_Remove_ValidName_From_NameField"/>
                    <include name="user_Remove_InvalidName_From_NameField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsitelateraltestcases.Ph_Num_Field_Test">
                <methods>
                    <include name="new_User_Enter_Valid_PhNumber"/>
                    <include name="new_User_Enter_EmptyString"/>
                    <include name="new_User_Enter_SpecialChar"/>
                    <include name="new_User_Enter_Character"/>
                    <include name="new_User_Enter_Space_Between_PhNumber"/>
                    <include name="new_User_Enter_plus_NinetyOne"/>
                    <include name="new_User_Enter_plus_NinetyOne_And_Hyphen"/>
                    <include name="new_User_Enter_NineDigit_PhNumber"/>
                    <include name="new_User_After_Enter_InValidData_RemoveData_Form_PhField"/>
                    <include name="new_User_After_Enter_ValidData_RemoveData_Form_PhField"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsitelateraltestcases.Reg_Submit_Test">
                <methods>
                    <include name="click_Enable_SubmitButton"/>
                    <include name="click_Disable_SubmitButton"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsitelateraltestcases.Work_Area_Field_Test">
                <methods>
                    <include name="select_Software_Developer"/>
                    <include name="select_Db_Developer"/>
                    <include name="select_Frontend"/>
                    <include name="select_Manual_QA"/>
                    <include name="select_Data_Analyst"/>
                    <include name="select_Tech_Support"/>
                    <include name="select_Non_IT"/>
                    <include name="select_NA"/>
                    <include name="not_select_passOut_Year"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsiteuser.Educational_Qualification_Test">
                <methods>
                    <include name="select_Engineering_Cs_Test"/>
                    <include name="select_Engineering_Non_It_Test"/>
                    <include name="select_Masters_Cs_Test"/>
                    <include name="select_Masters_Non_It_Test"/>
                    <include name="select_Others_Test"/>
                    <include name="without_Selecting_Education_Qualification_Test"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsiteuser.Email_Id_Test">
                <methods>
                    <include name="valid_Email_Id_Test"/>
                    <include name="empty_Email_Id_Test"/>
                    <include name="email_Id_With_Space_Test"/>
                    <include name="invalid_Email_Id_Test"/>
                    <include name="space_After_Email_Id"/>
                    <include name="space_Before_Email_ID_Test"/>
                    <include name="email_Without_Dotcom_Test"/>
                    <include name="email_Without_At_The_Rate_Test"/>
                    <include name="enter_And_Remove_Email_Id_From_EmailField_Test"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsiteuser.Enter_Phone_Number_Test">
                <methods>
                    <include name="new_Valid_Phone_Number"/>
                    <include name="empty_Phone_Number"/>
                    <include name="phn_No_With_Spl_Char"/>
                    <include name="phn_No_With_Char"/>
                    <include name="Phn_Number_With_Space"/>
                    <include name="Phn_Number_With_Plus_NinetyOne"/>
                    <include name="nineDigit_Phn_Number"/>
                    <include name="new_User_Enter_InValid_Phn_No_And_Remove_Form_Phn_No_Field"/>
                    <include name="new_User_Enter_Valid_Phn_No_And_Remove_Form_Phn_No_Field"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsiteuser.Full_Name_Test">
                <methods>
                    <include name="valid_FullName_Test"/>
                    <include name="fullName_With_Special_Char_Test"/>
                    <include name="fullName_With_Numeric_Value_Test"/>
                    <include name="empty_FullName_Test"/>
                    <include name="only_Two_Char_FullName_Test"/>
                    <include name="only_Three_Char_FullName_Test"/>
                    <include name="three_Char_FirstName_And_Two_Char_LastName_Test"/>
                    <include name="fullName_Without_Space_Test"/>
                    <include name="space_After_LastName_Test"/>
                    <include name="enter_And_Remove_Value_From_FullName_Test"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsiteuser.Select_Year_Of_Passout_Test">
                <methods>
                    <include name="select_TwoThousandTwentyFour_Test"/>
                    <include name="select_TwoThousandTwentyThree_Test"/>
                    <include name="select_TwoThousandTwentyTwo_Test"/>
                    <include name="select_TwoThousandTwentyOne_Test"/>
                    <include name="select_TwoThousandTwenty_Test"/>
                    <include name="select_Before_TwoThousandTwenty_Test"/>
                    <include name="select_After_TwoThousandTwentyFour_Test"/>
                    <include name="not_Select_any_passOut_Year_Test"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.registerwebsiteuser.Submit_Button_Test">
                <methods>
                    <include name="click_Enable_EnterButton"/>
                    <include name="click_Disable_Submit_Button_Test"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.webinartestcases.Education_Qualification_Test">
                <methods>
                    <include name="select_Engineering_Cs_Or_It"/>
                    <include name="select_Engineering_Non_Cs_Or_It"/>
                    <include name="select_Masters_Cs_Or_It"/>
                    <include name="select_Masters_Non_Cs_Or_It"/>
                    <include name="select_Other"/>
                    <include name="not_select_EducationQualification"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.webinartestcases.Email_Field_Test">
                <methods>
                    <include name="enter_valid_emailId"/>
                    <include name="enter_emptyString_emailField"/>
                    <include name="enter_invalid_emailId"/>
                    <include name="enter_emailId_with_space"/>
                    <include name="after_space_enter_valid_email"/>
                    <include name="without_dot_enter_email"/>
                    <include name="without_at_enter_email"/>
                    <include name="without_dotcom_enter_email"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.webinartestcases.Enter_Room_Test">
                <methods>
                    <include name="click_EnterButton"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.webinartestcases.Existing_PhoneNumber">
                <methods>
                    <include name="verifyExistingPhoneNumber_registration"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.webinartestcases.FullName_Field_Test">
                <methods>
                    <include name="enter_valid_name"/>
                    <include name="enter_emptyString_nameField"/>
                    <include name="enter_twoChar_nameField"/>
                    <include name="enter_threeChar_nameField"/>
                    <include name="without_space_user_enter_firstName_And_lastName_nameField"/>
                    <include name="after_enter_lastName_user_provide_space_nameField"/>
                    <include name="inBetween_firstName_And_lastName_user_provide_doubleSpace_nameField"/>
                    <include name="user_enter_threeGroup_of_name"/>
                    <include name="user_enter_numericChar_nameField"/>
                    <include name="user_remove_validName_from_Field"/>
                    <include name="user_remove_invalidName_from_Field"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.webinartestcases.PassOut_Field_Test">
                <methods>
                    <include name="select_passOut_year_TwoThousandTwentyFour"/>
                    <include name="select_passOut_year_TwoThousandTwentyThree"/>
                    <include name="select_passOut_year_TwoThousandTwentyTwo"/>
                    <include name="select_passOut_TwoThousandTwentyOne"/>
                    <include name="select_passOut_year_TwoThousandTwenty"/>
                    <include name="select_passOut_before_TwoThousandTwenty"/>
                    <include name="select_passOut_after_TwoThousandTwentyFour"/>
                    <include name="not_select_passOut_Year"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.webinartestcases.WebinarRegistration_Success">
                <methods>
                    <include name="webinarUserRegistrationSuccess_AndRedirectOnAttendOrientationScreen"/>
                </methods>
            </class>
            <class name="com.bridgelabz.ejet.webinartestcases.Webinar_Registration_Page_Test">
                <methods>
                    <include name="invalid_phn_No_Starting_With_Zero"/>
                    <include name="invalid_phn_No_Starting_With_Plus_Ninty_One_And_Hyphen"/>
                    <include name="invalid_phn_No_Starting_With_Plus_Ninty_One"/>
                    <include name="valid_phn_no"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>